#!/bin/sh

if [ -f source/scripts/config ]; then
	config=source/scripts/config
elif [ -f scripts/config ]; then
	config=scripts/config
fi

if [[ -f "$1" ]]; then
	file=$1
else
	if [[ -n "$KBUILD_OUTPUT" ]]; then
		KBUILD_OUTPUT=.
	fi
	if [ -f $KBUILD_OUTPUT/.config ]; then
		file=$KBUILD_OUTPUT/.config
	fi
fi

if [[ -n "$config" && -n "$file" ]]; then
	echo "Enabling NFSROOT kconfig options for $file"
	while read option; do
		$config --file $file --enable $option
	done << EOF
CONFIG_IP_PNP
CONFIG_IP_PNP_DHCP
CONFIG_IP_PNP_BOOTP
CONFIG_IP_PNP_RARP
CONFIG_NFS_FS
CONFIG_NFS_V3
CONFIG_ROOT_NFS
CONFIG_E1000
CONFIG_E1000E
CONFIG_IGB
CONFIG_R8169
CONFIG_R8169_VLAN
CONFIG_VIA_VELOCITY
CONFIG_TIGON3
CONFIG_BNX2
CONFIG_ATL1
CONFIG_ATL1E
CONFIG_ATL1C
CONFIG_SKGE
CONFIG_SKGE_DEBUG
CONFIG_SKY2
CONFIG_SKY2_DEBUG
CONFIG_SKGE_DEBUG
CONFIG_YELLOWFIN
CONFIG_NET_TULIP
CONFIG_TULIP
CONFIG_DE4X5
CONFIG_WINBOND_840
CONFIG_DM9102
CONFIG_ULI526X
CONFIG_NET_PCI
CONFIG_PCNET32
CONFIG_AMD8111_ETH
CONFIG_FORCEDETH
CONFIG_NE2K_PCI
CONFIG_8139CP
CONFIG_8139TOO
CONFIG_8139TOO_PIO
CONFIG_SIS900
CONFIG_VIA_RHINE
CONFIG_ATL2
CONFIG_NETDEV_1000
CONFIG_ACENIC
CONFIG_DL2K
CONFIG_USB_CATC
CONFIG_USB_KAWETH
CONFIG_USB_PEGASUS
CONFIG_USB_RTL8150
CONFIG_USB_USBNET
CONFIG_USB_NET_AX8817X
CONFIG_USB_NET_CDCETHER
CONFIG_USB_NET_CDC_EEM
CONFIG_USB_NET_DM9601
CONFIG_USB_NET_SMSC75XX
CONFIG_USB_NET_SMSC95XX
CONFIG_USB_NET_GL620A
CONFIG_USB_NET_NET1080
CONFIG_USB_NET_PLUSB
CONFIG_USB_NET_MCS7830
CONFIG_USB_NET_RNDIS_HOST
CONFIG_USB_NET_CDC_SUBSET
CONFIG_USB_ALI_M5632
CONFIG_USB_AN2720
CONFIG_USB_BELKIN
CONFIG_USB_ARMLINUX
CONFIG_USB_EPSON2888
CONFIG_USB_KC2190
CONFIG_USB_NET_ZAURUS
CONFIG_USB_NET_INT51X1
CONFIG_USB_IPHETH
CONFIG_USB_SIERRA_NET
EOF
fi
